<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="weather.png">
    <script src = "/js/app.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <divclass="main-content">
        <h1>{{errormessage}}</h1>
        {{>header}}
    </div>


</body>
    
    {{>footer}}
</html>