<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="weather.png">
        <link rel="stylesheet" href="./css/style.css">
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
                        <p></p>
            <p></p>
            <p>In order to get the most acurate result : please enter the name of country after the name of the city.</p>
            <p>For example : "paris france"</p>
            {{!-- <p>{{helptext}}</p> --}}
        </div>
    </body>
    {{>footer}}
</html>